body{
  background-color: #e4efff;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

*{
  box-sizing: border-box;
}

h2{
  font-weight: bold;
}

#sect{
  margin-right: 150px;
}

#sect a.active {
  color: ;
  font-weight: bolder;
  font-size: 22px;
}

#sect  a:hover:not(.active){
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  }

  .header{
    min-height: 350px;
    color: whitesmoke;
    position: relative;
    text-align: center;
  }

  .header-content{
    width: 90%;
    margin: 0 auto;
  }

  .header-content img{
    border: 0 solid black;
    border-radius: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .ader-img{
    text-align: center;
  }
/*
  .header-content p, .header-content h3{
    text-align: center;
    padding: 5px;
  }*/

  .header-contacts{
     position: absolute;
     bottom: 0;
     margin: 10px;
     width: 90%;
     font-size: 50px;
  }

  .contact{
    padding: 0 0 0 3px;
  }

  .hire a{
  color: floralwhite;
  text-decoration: none;
  font-weight: bolder;
  font-size: 22px;
  border: 2px whitesmoke solid;
  border-radius: 3px;
  padding: 3px;
  display: inline-block;
}

.typewriter{
  display: flex;
  justify-content: center;
  positin: absolute;
  right: 0;
}

.typewriter h3{
  width: 50ch;
  /*animation: typing 6s steps(35), blink .3s step-end infinite alternate;*/
  white-space: wrap;
  overflow: hidden;
  border-right: 3px dashed black;
  font-family: 'Kanit', sans-serif;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 10PX;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px;
  animation: typing 5s steps(150, end), blink-caret .35s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: #555 }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  80% { border-color: orange }
}*/

.skills{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  bordr: 1px solid #555;
  border-radius: 6px;
  padding-bottom: 10px;
}

.skills-works h2{
  text-align: center;
  font-size: 22px;
}

.skil{
  width: 90%;
  background-color: grey;
  margin-left: 15px;
  margin-bottom: 15px;
}

.skills h4{
  margin-left: 15px;
  margin-bottom: 0;
  font-size: 18px;
}

.skills h6{
  margin-left: 15px;
  display: inline;
  font-size: 14px;
}

.range{
  text-align: right;
  padding: 0 10px;
  color: white;
}

.skil .editing{
  width: 40%;
  background-color: green;
}

.skil .design{
  width: 20%;
  background-color: red;
}

.skil .Frontend-web{
  width: 70%;
  background-color: blue;
}

.works{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card-body{
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.card-column{
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

figure{
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption h4, figcaption p{
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: fantasy;
  max-width: 190px;
  text-align: center;
  font-size: 0.8em;
}

.service{
  width: 90%;
  background-color: black;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-siz: 14px;
  padding-bottom: 15px;
}

.service h2{
  color: whitesmoke;
  padding-top: 20px;
  font-size: 22px;
}

.service h3{
  color: blue;
  font-size: 20px;
}

.service .design, .service .web-dev, .service .editing{
  width: 70%;
  color: whitesmoke;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

/*.service .web-dev{
  width: 85%;
  background-color: grey;
  text-align: center;
}

.service .editing{
  width: 85%;
  background-color: grey;
  text-align: center;
}*/


@media only screen and (min-width: 600px ) {
  .header{
    height: 400px;
  }

  .header-content img{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
  }

  .header-content{
    float: left;
    margin: 30px 15px 0 40px;
  }

  .typewriter h3, .typewriter h4{
    margin-top: 20px;
    margin-right: 25px;
    font-size: 1em;
    text-align: right;
  }
}

@media only screen and (min-width: 960px ) {
  .header{
    height: 500px;
  }

  .header-content{
    width: 70%;
    margin-top: 70px;
    text-align: center;
    margin-left: 120px;
  }

  .header-content img{
    margin-top: 15px;
    height: 200px;
    width: 200px;
  }

  .contact{
    padding:0 0 0 15px;
  }

  .typewriter h3, .typewriter h4{
    font-size: 1.2em;
    text-align: center;
    padding-right: 20px;
  }

  .skills h6{
    
  }

  .skills-works{
    width: 90%;
    padding-left: 100px;
  }

  .skills{
    width: 45%;
    float: left;
  }

  .works{
    width: 45%;
    float: right;
    margin-top: 30px;
  }

  .service{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 100px;
  }

  .service h3{
    text-align: center;
  }

  .service .design, .service .web-dev, .service .editing{
    float: left;
    width: 30%;
    text-align: justify;
    padding: 0 25px;
  }

  .clearfix{
    content: "";
    clear: both;
    display: table;
  }
}


@media only screen and (min-width: 1280px ) {
  .header{
    height: 600px;
  }

  .header-content{
    margin-left: 200px;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 320px ) {
  .header-contacts{
    margin: 5px;
    font-size: 8px;
  }
}

@media only screen and (min-width: 320px ) {
  figure{
  float: left;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
}